$zen-light-green:#75ca82;
$zen-yellow: #ffe76a;
$zen-green: #22c7b3;
$zen-pastel-green: #dde9aa;
$zen-pastel-pink:#eaa19f;
$zen-light-blue:#88ceeb;
$zen-dark-green:#008d7f;
$zen-orange:#eeae50;

.bg-zen-green{
    background: $zen-green !important;
}
.bg-zen-lgreen{
    background: $zen-light-green !important;
}